.alert-notice{
    color:#155724;background-color:#d4edda;border-color:#c3e6cb
}
.index-card{
    border-radius: 8px;
}
.post-img{
    width: 75%;
}
.post_image img{
    width: 75%;

}
.card-menu-link{
    font-weight: bold;

}
.new-post-link{
    border-radius: 15px;
    background-color: #bec1c2;
}
a:hover, .card-menu-link:hover{
    text-decoration: none;
}
.form-control:focus
{
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
  box-shadow: none !important;
}